[package]
name = "workspaces"
version = "0.1.1"
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/near/workspaces-rs"
description = """
Library for automating workflows and testing NEAR smart contracts.
"""

[dependencies]
async-mutex = "1.4.0"
async-trait = "0.1"
anyhow = "1.0"
base64 = "0.13"
borsh = "0.9"
chrono = "0.4.19"
dirs = "3.0.2"
hex = "0.4.2"
once_cell = "1.9.0"
portpicker = "0.1.1"
rand = "0.8.4"
reqwest = { version = "0.11", features = ["json"] }
serde = "1.0"
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-retry = "0.3"
tracing = "0.1"
url = { version = "2.2.2", features = ["serde"] }

near-account-id = "0.12.0"
near-crypto = "0.12.0"
near-primitives = "0.12.0"
near-jsonrpc-primitives = "0.12.0"
near-jsonrpc-client = { version = "0.3.0", features = ["sandbox"] }
near-sandbox-utils = { git = "https://github.com/near/sandbox", branch = "daniyar/autocloseable" }

[build-dependencies]
near-sandbox-utils = { git = "https://github.com/near/sandbox", branch = "daniyar/autocloseable" }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[dev-dependencies]
borsh = "0.9"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3.5", features = ["env-filter"] }

[features]
sandbox-parallel = []
