[package]
name = "workspaces"
version = "0.5.0"
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/near/workspaces-rs"
description = """
Library for automating workflows and testing NEAR smart contracts.
"""

[dependencies]
async-trait = "0.1"
async-process = "1.3"
base64 = "0.13"
borsh = "0.9"
bs58 = "0.4"
cargo_metadata = { version = "0.14.2", optional = true }
chrono = "0.4.19"
dirs = "3.0.2"
hex = "0.4.2"
portpicker = "0.1.1"
rand = "0.8.4"
reqwest = { version = "0.11", features = ["json"] }
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-retry = "0.3"
tracing = "0.1"
url = { version = "2.2.2", features = ["serde"] }

near-account-id = "0.15.0"
near-crypto = "0.15.0"
near-primitives = "0.15.0"
near-jsonrpc-primitives = "0.15.0"
near-jsonrpc-client = { version = "0.4.0", features = ["sandbox"] }
near-sandbox-utils = "0.5.0"

[build-dependencies]
near-sandbox-utils = "0.5.0"

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[dev-dependencies]
anyhow = "1.0"
borsh = "0.9"
futures = "0.3"
near-units = "0.2.0"
near-sdk = "4.0.0"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3.5", features = ["env-filter"] }

[features]
default = ["install"]
install = []  # Install the sandbox binary during compile time
unstable = ["cargo_metadata"]

[package.metadata.docs.rs]
features = ["unstable"]
