[package]
name = "workspaces"
version = "0.7.0"
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/near/workspaces-rs"
description = """
Library for automating workflows and testing NEAR smart contracts.
"""

[dependencies]
async-trait = "0.1"
async-process = "1.3"
base64 = "0.21"
borsh = "0.10"
bs58 = "0.5"
cargo_metadata = { version = "0.17", optional = true }
cargo-near = "0.3.1"
chrono = "0.4.19"
fs2 = "0.4"
rand = "0.8.4"
reqwest = { version = "0.11", features = ["json"] }
sha2 = "0.10"
serde = "1.0"
serde_json = "1.0"
json-patch = "1.0"
tempfile = "3.3"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-retry = "0.3"
tracing = "0.1"
url = { version = "2.2.2", features = ["serde"] }

near-gas = { version = "0.2.3", features = ["serde", "borsh", "schemars"] }
near-sdk = { version = "4.1", optional = true }
near-account-id = "0.17"
near-crypto = "0.17"
near-primitives = "0.17"
near-jsonrpc-primitives = "0.17"
near-jsonrpc-client = { version = "0.6", features = ["sandbox"] }
near-sandbox-utils = { git = "https://github.com/near/sandbox.git", rev = "cdb346e01b5a36296efd0fbef7cd00b06f686030" }
near-chain-configs = { version = "0.17.0", optional = true }
[build-dependencies]
near-sandbox-utils = { git = "https://github.com/near/sandbox.git", rev = "cdb346e01b5a36296efd0fbef7cd00b06f686030" }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[dev-dependencies]
anyhow = "1.0"
borsh = "0.10"
futures = "0.3"
near-units = "0.2.0"
near-sdk = "4.0.0"
test-log = { version = "0.2.8", default-features = false, features = ["trace"] }
tracing-subscriber = { version = "0.3.5", features = ["env-filter"] }

[features]
default = ["install", "interop_sdk"]
install = []                          # Install the sandbox binary during compile time
interop_sdk = ["near-sdk"]
unstable = ["cargo_metadata"]
experimental = ["near-chain-configs"]

[package.metadata.docs.rs]
features = ["unstable"]
